[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
python-dateutil = "~=2.8.1"
PyYAML = "~=5.4"
PyGithub = "~=1.51"
boto3 = "*"
scikit-learn = "*"
pandas = "*"

[requires]
python_version = "3.9"
